/**
 * This design is based on the ArchLinux Web Theme.
 * The ArchLinux Website is made by:
 *
 * Dan McGee <dan@archlinux.org>
 * Judd Vinet <judd@archlinux.org>
 * Simo Leone <simo@archlinux.org>
 * eliott <eliott@cactuswax.net>
 * Thayer Williams <thayer@archlinux.org>
 * Dusty Phillips <dusty@archlinux.org>
 */

a {
	color: #0077BB;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #999999;
	text-decoration: underline;
}

a:active {
	color: #EE9900;
}

body {
	background: #F6F9FC;
	color: #222222;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

form {
	margin: 5px;
	padding: 0px;
}

h1 {
	display: none;
	margin: 0px;
	padding: 0px;
}

h2 {
	border-bottom: 1px solid #888888;
	margin: 0em 0em 0.5em 0em;
	padding: 0px;
}

h3 {
	border-bottom: 1px solid #888888;
	margin-bottom: 0.5em;
}

h4 {
	
}

h5 {
	
}

input[type="text"], input[type="password"],textarea {
	background: #F0F8FF;
	border: 1px solid #BBCCDD;
	color: #000000;
	margin: 0px;
	padding: 3px 0px;
}

input[type="submit"], button, input[type="reset"] {
	background: transparent;
	border: none;
	color: #0077BB;
	cursor: pointer;
	display: inline-block;
	outline: none;
	text-decoration: none;
}

input[type="submit"]:hover, button:hover, input[type="reset"]:hover {
	color: #999999;
	text-decoration: underline;
}

input[type="submit"]:active, button:active, input[type="reset"]:active {
	color: #EE9900;
}

table {
	border-collapse: collapse;
}

td {
	text-align: left;
	vertical-align: top;
}

th {
	text-align: left;
	vertical-align: top;
}

tr {
	text-align: left;
}

ul {
	list-style: square;
}

/*****************************************************************************/

.dN  { display: none; }
.dB  { display: block; }
.dIB { display: inline-block; }

.flL { float: left; }
.flR { float: right; }

.fsI { font-style: italic; }
.fwB { font-weight: bold; }

.h200 { height: 200px; }
.h250 { height: 250px; }
.h300 { height: 300px; }
.h350 { height: 350px; }
.h400 { height: 400px; }

.mrR270 { margin-right: 270px; }
.mrR280 { margin-right: 280px; }
.mrR290 { margin-right: 290px; }
.mrR300 { margin-right: 300px; }
.mrR310 { margin-right: 310px; }
.mrR320 { margin-right: 320px; }
.mrR330 { margin-right: 330px; }
.mrR340 { margin-right: 340px; }
.mrR350 { margin-right: 350px; }
.mrR360 { margin-right: 360px; }
.mrR370 { margin-right: 370px; }
.mrR380 { margin-right: 380px; }
.mrR390 { margin-right: 390px; }
.mrR400 { margin-right: 400px; }
.mrR410 { margin-right: 410px; }
.mrR420 { margin-right: 420px; }
.mrR430 { margin-right: 430px; }
.mrR440 { margin-right: 440px; }
.mrR450 { margin-right: 450px; }

.taC { text-align: center; }
.taL { text-align: left; }
.taR { text-align: right; }

.tdU { text-decoration: underline; }

.w50  { width: 50px; }
.w100 { width: 100px; }
.w150 { width: 150px; }
.w200 { width: 200px; }
.w210 { width: 210px; }
.w220 { width: 220px; }
.w230 { width: 230px; }
.w240 { width: 240px; }
.w250 { width: 250px; }
.w260 { width: 260px; }
.w270 { width: 270px; }
.w280 { width: 280px; }
.w290 { width: 290px; }
.w300 { width: 300px; }
.w310 { width: 310px; }
.w320 { width: 320px; }
.w330 { width: 330px; }
.w340 { width: 340px; }
.w350 { width: 350px; }
.w400 { width: 400px; }
.w450 { width: 450px; }
.w500 { width: 500px; }
.w550 { width: 550px; }
.w600 { width: 600px; }

.w90P { width: 90%; }
.w95P { width: 95%; }
.w100P { width: 100%; }
