.icTogglePlus, .icToggleMinus {
	display: inline-block;
	height: 16px;
	width: 16px;
}

.icTogglePlus  { background: url("/st/img/icon/togglePlus") center no-repeat; }
.icToggleMinus { background: url("/st/img/icon/toggleMinus") center no-repeat; }
