/**
 * This design is based on the ArchLinux Web Theme.
 * The ArchLinux Website is made by:
 *
 * Dan McGee <dan@archlinux.org>
 * Judd Vinet <judd@archlinux.org>
 * Simo Leone <simo@archlinux.org>
 * eliott <eliott@cactuswax.net>
 * Thayer Williams <thayer@archlinux.org>
 * Dusty Phillips <dusty@archlinux.org>
 */

a.toggle {
	color: #555555;
	text-decoration: none;
}

a.toggle:hover {
	color: #555555;
	text-decoration: none;
}

a.toggle:active {
	color: #EE9900;
	text-decoration: none;
}

div.box {
	background: #ECF2F5;
	border: 1px solid #BBCCDD;
	margin-bottom: 1.5em;
	padding: 0.65em;
}

div.box p {
	margin: 0.33em 0em 1em;
}

div.progressBar {
	background: #F0F8FF;
	border: 1px solid #5B7086;
	height: 20px;
	margin: -1px;
	overflow: hidden;
	padding: 0px;
}

div.progressBar div.progress {
	background: #BBCCDD;
	height: 22px;
	margin: -1px;
	padding: 0px;
}

div.progressBar div.percentage {
	color: #5B7086;
	font-weight: bold;
	height: 22px;
	line-height: 22px;
	margin: -1px;
	padding: 0px;
	position: relative;
	top: -22px;
	text-align: center;
}

div#content {
	font-size: 0.812em;
	width: 95%;
	margin: 0 auto;
	padding-top: 20px;
}

div#header {
	background: #333333;
	border-bottom: 5px #0088CC solid;
	height: 40px;
	margin: 0px;
	overflow: hidden;
	padding: 10px 15px;
}

div#logo {
	background: url("/st/img/logo");
	display: block;
	float: left;
	height: 40px;
	width: 180px;
}

div#logo a {
	display: block;
	height: 40px;
	width: 180px;
}

div#navigation ul {
	float: right;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

div#navigation ul li {
	float: left;
	font-size: 14px;
	line-height: 45px;
	margin: 0px;
	padding: 0px 15px;
}

div#navigation ul li a, div#navigation ul li a:hover {
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

div#navigation ul li a.active {
	color: #ffffff;
}

p.buttonBar {
	text-align: right;
}

p.meta {
	font-size: 0.8em;
	margin: -14px 0px 8px 5px;
	padding: 0px;
}

p.newsEntry {
	font-size: 0.9em;
	margin: 0px;
	padding: 0px 0px 15px 0px;
}

p.readmore {
	margin: -0.5em 0em 0em 0em;
	font-size: 0.9em;
	text-align: right;
}

span.more {
	font-weight: normal;
}

.preview, pre {
	background: #F0F8FF;
	border: 1px solid #BBCCDD;
	font-family: monospace;
	height: 30em;
	overflow: scroll;
	padding: 5px;
}

table.niceTable {
	border: 1px solid #BCD;
	width: 100%;
}

table.niceTable .h1 {
	font-size: 1em;
	font-weight: bold;
}

table.niceTable .h2 {
	font-size: 0.8em;
	font-weight: bold;
}

table.niceTable td {
	border: 1px dotted #BCD;
	font-size: 0.7em;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

table.niceTable td.dl {
	border: 1px solid #BCD;
	font-size: 1.0em;
	font-weight: bold;
	margin: 0px;
	padding: 10px;
	text-align: center;
}

table.niceTable td.taC {
	text-align: center;
}

table.niceTable th {
	background: #ffffff;
	border-bottom: 1px solid #888888;
	font-size: 0.9em;
	font-weight: bold;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

table.niceTable tr {
	margin: 0px;
	padding: 0px;
	width: 100;
}

table.niceTable tr:nth-child(odd) {
	background: #ffffff;
}

table.niceTable tr:nth-child(even) {
	background: #E4EEFF;
}
